@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.markdown-it-output h1 {
  font-size: xx-large;
  font-weight: bold;
}

.markdown-it-output h2 {
  font-size: x-large;
  font-weight: bold;
}

.markdown-it-output h3 {
  font-size: large;
  font-weight: bold;
}

.markdown-it-output h4 {
  font-size: medium;
  font-weight: bold;
}

.markdown-it-output h5 {
  font-size: small;
  font-weight: bold;
}

.chapter-test h1 {
  font-size: xx-large;
  font-weight: bold;
}

.chapter-test h2 {
  font-size: x-large;
  font-weight: bold;
}

.chapter-test h3 {
  font-size: large;
  font-weight: bold;
}

.chapter-test h4 {
  font-size: medium;
  font-weight: bold;
}

.chapter-test h5 {
  font-size: small;
  font-weight: bold;
}

pre {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}